.error-container {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.error-code {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0 23px 0 0;
    font-size: 24px;
    font-weight: 500;
    vertical-align: top;
    line-height: 49px;
    border-right: 1px solid;
}

.error-divider {
    display: inline-block;
    text-align: left;
    line-height: 49px;
    height: 49px;
    vertical-align: middle;
}

.error-message {
    font-size: 14px;
    font-weight: 400;
    line-height: 49px;
    margin: 0;
    padding: 0;
}

.return-link {
    position: absolute;
    bottom: 1.5rem;
    font-size: .85em;
    cursor: pointer;
}