@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --accents-1: #fafafa;
    --accents-2: #eaeaea;
    --accents-3: #999;
    --accents-4: #888;
    --accents-5: #666;
    --accents-6: #444;
    --accents-7: #333;
    --accents-8: #111;

    --background: #ffffff;
    --theme-bg: var(--accents-2);
    --track-bg: #f1f1f1;
    --scrollbar-bg: #1a1a1a;
    --footer-bg: #fafafa;
    --footer-text: #666;
    --text-hover: #111;
    --github-hover: rgba(0, 118, 255, .1);
    --scroll-btn: black;
    --scroll-icon: white;
    --column-text: var(--accents-6);
    --simulation-bg: var(--accents-1);
}

[data-theme="dark"] {
    --background: black;
    --theme-bg: var(--accents-6);
    --track-bg: var(--accents-8);
    --scrollbar-bg: var(--accents-1);
    --accents-5: var(--accents-2);
    --footer-bg: black;
    --footer-text: white;
    --text-hover: var(--accents-3);
    --github-hover: rgba(61, 146, 243, 0.342);
    --scroll-btn: white;
    --scroll-icon: black;
    --column-text: white;
    --simulation-bg: black;
}

html,
body {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    min-height: 100%;
    height: 100%;
    margin: 0;
    line-height: 1.65;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    min-width: 320px;
    direction: ltr;
    font-feature-settings: "kern";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
    background: var(--background);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--track-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-bg);
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 10000px;
}

.hidden {
    opacity: 0;
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.fade-out {
    opacity: 1;
    animation: fade-out 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}