.main {
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .main {
        padding: 0 0;
    }
}