.scroll-top-button {
    display: flex;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
	border-radius: 0.375rem;
    cursor: pointer;
    background-color: black;
}

.scroll-top-icon {
    margin: auto;
    padding: auto;
    color: #ffffff;
    height: 0.75rem;
}

@media (min-width: 1024px) {
    .scroll-top-button {
        right: 1.25rem;
    }
}